.title {
  width: 100%;
}
.title td.import {
  text-align: right;
}

.title td.import button {
  font-size: 1.5em;
}

table.info th {
  text-align: left;
  border-bottom: 2px solid black;
}

table.info td:nth-child(1) {
  padding-right: 4ex;
  background-color: rgb(240,240,255);
}
